{% extends 'core/base.html' %}

{% block body %}
<h3> List of transactions:</h3>

<div class="row">
        {% if all_transactions %}
            {% for transaction in all_transactions %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>{{ transaction.party }} - {{ transaction.description }}</h4>
                            
                            <!-- View Details -->
                            <a href="{% url 'core:transaction_detail' transaction.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Update transaction -->
                            <form action="{% url 'core:transaction_update' pk=transaction.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="transaction_id" value="{{ transaction.id }}" />
                                <button type="submit" value="update" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </form>

                            <!-- Delete transaction -->
                            <form action="{% url 'core:transaction_delete' transaction.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="transaction_id" value="{{ transaction.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'core:transaction_create' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a transaction
                    </button>
                </a>
            </div>
        {% endif %}
</div>

{% endblock %}