{% extends 'core/base.html' %}
{% block title %}Project details{% endblock %}

{% block body %}

<h1> {{ transaction.party }} - {{ transaction.description }} </h1>
<br/>
Id: {{ transaction.id }}<br/>
Party: {{ transaction.party }}<br/>
Direction: {{ transaction.direction }}<br/>
Transaction type: {{ transaction.transaction_type }}<br/>
Projects: {{ transaction.projects }}<br/>
Start date: {{ transaction.start_date }}<br/>
End date: {{ transaction.end_date }}<br/>
Invoice date: {{ transaction.invoice_date }}<br/>
Invoice amount: {{ transaction.invoice_amount }}<br/>
Vat amount: {{ transaction.vat_ammount }}<br/>
Settlement date: {{ transaction.settlement_date }}<br/>
Settlement amount: {{ transaction.settlement_ammount }}<br/>
Adjustment: {{ transaction.adjustment }}<br/>
Description: {{ transaction.description }}<br/>
Comments: {{ transaction.comments }}<br/>

{% endblock %}