{% extends "base.html" %}
{% block content %}

<h1>Homepage: {{ title }}</h1>

<h3>List of parties:</h3>
<a href='http://127.0.0.1:8000/core/parties/create/' class="btn btn-primary btn-space" role="button">
+ ADD PARTY</a><br/>
<div class="row">
{% for party in party_list %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><a href='{{ party.get_absolute_url }}'>
        {{ party.name }}</a></h3>
            <p>Active: {{ party.is_active }}<br/>
                Id: {{ party.id }}<br/>
            </p>
        <p><a href='{{ party.get_absolute_url }}' class="btn btn-primary" role="button">VIEW</a></p>
      </div>
    </div>
  </div>

{% cycle "" "</div><div class='row'>" %}
{% endfor %}
</div>

<h3>List of projects:</h3>
<a href='http://127.0.0.1:8000/core/projects/create/' class="btn btn-primary btn-space" role="button">
+ ADD PROJECT</a><br/>

<div class="row">
{% for project in project_list %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><a href='{{ project.get_absolute_url }}'>
        {{ project.name }}</a></h3>
            <p>Active project: {{ project.is_active }}<br/>
                Project id: {{ project.id }}<br/><br/>
            </p>
        <p><a href='{{ project.get_absolute_url }}' class="btn btn-primary" role="button">VIEW</a></p>
      </div>
    </div>
  </div>

{% cycle "" "</div><div class='row'>" %}
{% endfor %}
</div>

<h3>List of transactions:</h3>
<a href='http://127.0.0.1:8000/core/transactions/create/' class="btn btn-primary btn-space" role="button">
+ ADD TRANSACTION</a><br/>
<div class="row">
{% for transaction in transaction_list %}

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><a href='{{ transaction.get_absolute_url }}'>
        {{ transaction.party }} - {{ transaction.comments }}</a></h3>
            <p>Invoice_date: {{ transaction.invoice_date }}<br/>
                Id: {{ transaction.id }}<br/></p>
        <p><a href='{{ transaction.get_absolute_url }}' class="btn btn-primary btn-space" role="button">VIEW</a></p>
      </div>
    </div>
  </div>

{% cycle "" "</div><div class='row'>" %}
{% endfor %}
</div>



{% endblock content %}